html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Barlow";
}

#root {
  display: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: red;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2380F'/%3E%3Cstop offset='1' stop-color='%23f40'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
  background-attachment: fixed;
}

.pane {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 50vw;
}

.left {
  top: 0;
  left: 0;
  /* animation: exitLeft 0.5s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards; */
}

.right {
  top: 0;
  left: 50vw;
  /* animation: moveLeft 0.5s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards; */
}

.right-outside {
  top: 0;
  left: 100vw;
  background-color: green;
  /* animation: enterLeft 0.5s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards; */
}

.pane-interior {
  width: 100%;
  height: 100%;
  filter: drop-shadow(2px 2px 2px #000000ee);
  background-color: white;
  overflow: hidden;
  box-sizing: border-box;
}

.rotate {
  transform: rotate(-1deg);
}

.rotate2 {
  transform: rotate(2deg);
}

.intro-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  padding: 20px;
  font-size: 3vmin;
  border: 5px white solid;
  background-color: #487346;
  color: white;
}

.back-card {
  border: 5px white solid;
  background-color: #487346;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%234c8e43' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%236aac5f' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%234c8e43' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%236aac5f' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%2389CC7C' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23768c3a' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%2396ac58' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%2396ac58' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23768c3a' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23768c3a' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%2396ac58' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
}

.intro-card p {
  text-align: center;
}
.place-card {
  border: 5px white solid;
  display: grid;
  grid-template-areas:
    "photo photo"
    "info temp";
  gap: 0rem 0rem;
  grid-template-rows: 4fr 3fr;
  grid-template-columns: 3fr 3fr;
}

.photo {
  grid-area: photo;
  background-color: #ddffaa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23AE9' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
}

.info {
  grid-area: info;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
}

.info p {
  padding: 0;
  margin: 0;
  font-size: 5vmin;
  font-weight: 700;
  text-align: center;
}

.temp {
  grid-area: temp;
  background-color: lightgray;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.temp-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: darkgray;
  opacity: 0.9;
}

.temp p {
  padding: 0;
  margin: 0;
  font-size: 8vmin;
  font-weight: 900;
}

.temp p:after {
  content: "°C";
}

.temp-overlay button {
  height: 50%;
  width: 100%;
  border: 0;
  cursor: pointer;
  background-color: lightgray;
  box-shadow: none;
  border-radius: 0px;
  font-family: "Barlow";
  font-size: 5vmin;
  font-weight: 900;
  transition: font-size 100ms 30ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.temp-overlay button:hover {
  font-size: 10vmin;
}

.temp-overlay button.hotter {
  color: red;
}

.hotter-fade-out {
  animation: slideOutUp 0.5s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    forwards;
}

.colder-fade-out {
  animation: slideOutDown 0.5s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    forwards;
}

.temp-overlay button.colder {
  color: blue;
}

/**/

@keyframes exitLeft {
  0% {
    left: 0;
  }
  100% {
    left: -50vw;
    opacity: 0;
  }
}

@keyframes moveLeft {
  0% {
    left: 50vw;
  }
  100% {
    left: 0;
  }
}

@keyframes enterLeft {
  0% {
    left: 100vw;
  }
  100% {
    left: 50vw;
  }
}

/**/

@keyframes exitUp {
  0% {
    top: 0;
  }
  100% {
    top: -50vh;
    opacity: 0;
  }
}

@keyframes moveUp {
  0% {
    top: 50vh;
  }
  100% {
    top: 0;
  }
}

@keyframes enterUp {
  0% {
    top: 100vh;
  }
  100% {
    top: 50vh;
  }
}

/**/

@keyframes slideOutUp {
  0% {
    transform: translate3d(0, 0, 0);
  }

  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0%, -100%, 0);
  }
}

@keyframes slideOutDown {
  0% {
    transform: translate3d(0, 0, 0);
  }

  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0%, 100%, 0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@media (max-aspect-ratio: 5/3) {
  .pane {
    height: 50vh;
    width: 100vw;
  }

  .left {
    top: 0;
    left: 0;
    /* animation: exitUp 0.5s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards; */
  }

  .right {
    top: 50vh;
    left: 0;
    /* animation: moveUp 0.5s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards; */
  }
}

/**/

.card-container {
  width: 80%;
  height: 80%;
  perspective: 1000px;
}

.card-container-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s 0s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform-style: preserve-3d;
}

.card-container .card-container-inner-animate {
  transform: rotateY(180deg);
}

.card-container-front,
.card-container-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* .card-container-front {
  /* background-color: #bbb;
  color: black; */

.card-container-back {
  transform: rotateY(180deg);
}

.next-button {
  position: absolute;
  bottom: -5vmin;
  right: -5vmin;
  background-color: #66ff77;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='100%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2366ff77'/%3E%3Cstop offset='1' stop-color='%23240'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='975' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23EF5' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%23EF5' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%23081' stroke-width='10' stroke-miterlimit='10' stroke-opacity='0.12'%3E%3Cpolygon points='-500%2C500 500%2C-500 1500%2C500 500%2C1500'/%3E%3Cpolygon points='-475%2C500 500%2C-475 1475%2C500 500%2C1475'/%3E%3Cpolygon points='-450%2C500 500%2C-450 1450%2C500 500%2C1450'/%3E%3Cpolygon points='-425%2C500 500%2C-425 1425%2C500 500%2C1425'/%3E%3Cpolygon points='-400%2C500 500%2C-400 1400%2C500 500%2C1400'/%3E%3Cpolygon points='-375%2C500 500%2C-375 1375%2C500 500%2C1375'/%3E%3Cpolygon points='-350%2C500 500%2C-350 1350%2C500 500%2C1350'/%3E%3Cpolygon points='-325%2C500 500%2C-325 1325%2C500 500%2C1325'/%3E%3Cpolygon points='-300%2C500 500%2C-300 1300%2C500 500%2C1300'/%3E%3Cpolygon points='-275%2C500 500%2C-275 1275%2C500 500%2C1275'/%3E%3Cpolygon points='-250%2C500 500%2C-250 1250%2C500 500%2C1250'/%3E%3Cpolygon points='-225%2C500 500%2C-225 1225%2C500 500%2C1225'/%3E%3Cpolygon points='-200%2C500 500%2C-200 1200%2C500 500%2C1200'/%3E%3Cpolygon points='-175%2C500 500%2C-175 1175%2C500 500%2C1175'/%3E%3Cpolygon points='-150%2C500 500%2C-150 1150%2C500 500%2C1150'/%3E%3Cpolygon points='-125%2C500 500%2C-125 1125%2C500 500%2C1125'/%3E%3Cpolygon points='-100%2C500 500%2C-100 1100%2C500 500%2C1100'/%3E%3Cpolygon points='-75%2C500 500%2C-75 1075%2C500 500%2C1075'/%3E%3Cpolygon points='-50%2C500 500%2C-50 1050%2C500 500%2C1050'/%3E%3Cpolygon points='-25%2C500 500%2C-25 1025%2C500 500%2C1025'/%3E%3Cpolygon points='0%2C500 500%2C0 1000%2C500 500%2C1000'/%3E%3Cpolygon points='25%2C500 500%2C25 975%2C500 500%2C975'/%3E%3Cpolygon points='50%2C500 500%2C50 950%2C500 500%2C950'/%3E%3Cpolygon points='75%2C500 500%2C75 925%2C500 500%2C925'/%3E%3Cpolygon points='100%2C500 500%2C100 900%2C500 500%2C900'/%3E%3Cpolygon points='125%2C500 500%2C125 875%2C500 500%2C875'/%3E%3Cpolygon points='150%2C500 500%2C150 850%2C500 500%2C850'/%3E%3Cpolygon points='175%2C500 500%2C175 825%2C500 500%2C825'/%3E%3Cpolygon points='200%2C500 500%2C200 800%2C500 500%2C800'/%3E%3Cpolygon points='225%2C500 500%2C225 775%2C500 500%2C775'/%3E%3Cpolygon points='250%2C500 500%2C250 750%2C500 500%2C750'/%3E%3Cpolygon points='275%2C500 500%2C275 725%2C500 500%2C725'/%3E%3Cpolygon points='300%2C500 500%2C300 700%2C500 500%2C700'/%3E%3Cpolygon points='325%2C500 500%2C325 675%2C500 500%2C675'/%3E%3Cpolygon points='350%2C500 500%2C350 650%2C500 500%2C650'/%3E%3Cpolygon points='375%2C500 500%2C375 625%2C500 500%2C625'/%3E%3Cpolygon points='400%2C500 500%2C400 600%2C500 500%2C600'/%3E%3Cpolygon points='425%2C500 500%2C425 575%2C500 500%2C575'/%3E%3Cpolygon points='450%2C500 500%2C450 550%2C500 500%2C550'/%3E%3Cpolygon points='475%2C500 500%2C475 525%2C500 500%2C525'/%3E%3C/g%3E%3Crect fill-opacity='0.12' fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  border: 5px white solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vmin;
  height: 20vmin;
  font-size: 10vmin;
  box-sizing: border-box;
  transform: rotate(-5deg);
  transition: color 0.2s 10ms ease-in-out, border-color 0.2s 10ms ease-in-out;
  filter: drop-shadow(2px 2px 5px #000000ee);
  cursor: pointer;
  color: green;
}

.next-button:hover {
  color: white;
  border-color: lightgreen;
}
