html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Barlow";
}

#root {
  display: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: red;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2380F'/%3E%3Cstop offset='1' stop-color='%23f40'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
}

.pane {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 50vw;
}

.left {
  top: 0;
  left: 0;
}

.left-out {
  animation: exitLeft 0.5s 0.2s cubic-bezier(0.6, -0.18, 0.735, 0.045) forwards;
}

.right {
  top: 0;
  left: 50vw;
}

.right-move {
  animation: moveLeft 0.5s 0.2s cubic-bezier(0.6, -0.18, 0.735, 0.045) forwards;
}

.outside {
  top: 0;
  left: 100vw;
}

.outside-enter {
  animation: enterLeft 0.5s 0.2s cubic-bezier(0.6, -0.18, 0.735, 0.045) forwards;
}

.pane-interior {
  width: 100%;
  height: 100%;
  filter: drop-shadow(2px 2px 2px #000000ee);
  background-color: white;
  overflow: hidden;
  box-sizing: border-box;
}

.scale-in {
  animation: scaleIn 0.2s 0s cubic-bezier(0.6, -0.18, 0.735, 0.045) forwards;
}

@keyframes scaleIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.scale-out {
  animation: scaleOut 0.3s 0s cubic-bezier(0.6, -0.18, 0.735, 0.045) forwards;
}

@keyframes scaleOut {
  100% {
    transform: scale(0.5);
    opacity: 0;
  }

  0% {
    transform: scale(1);
    opacity: 1;
  }
}

.peek-out {
  animation: peekOut 0.5s 0s cubic-bezier(0.6, -0.18, 0.735, 0.045) forwards;
}

@keyframes peekOut {
  100% {
    bottom: -50vh;
  }
}

/* .rotate {
  transform: rotate(-1deg);
}

.rotate2 {
  transform: rotate(2deg);
} */

.intro-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  width: 100%;
  font-size: 2vmax;
  font-weight: 700;
  border: 5px white solid;
  background-color: #6cff9b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  color: white;
}

.intro-card p {
  text-align: center;
}
.place-card {
  border: 5px white solid;
  display: grid;
  grid-template-areas:
    "photo photo"
    "info temp";
  gap: 0rem 0rem;
  grid-template-rows: 4fr 3fr;
  grid-template-columns: 3fr 3fr;
}

.photo {
  grid-area: photo;
  display: flex;
  background-color: #ddffaa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23AE9' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
  overflow: hidden;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.photo img {
  filter: brightness(110%) saturate(140%);
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* opacity: 0.9; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.info {
  grid-area: info;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
}

.p-info {
  padding: 0;
  margin: 0;
  font-size: 5vmin;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.info-name {
  font-size: 5vmin;
}

.info-country {
  font-size: 3vmin;
  opacity: 0.6;
}

.temp {
  grid-area: temp;
  background-color: lightgray;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.temp-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: darkgray;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.temp p {
  padding: 0;
  margin: 0;
  font-size: 8vmin;
  font-weight: 900;
}

.temp p:after {
  content: "°C";
}

.temp-overlay button {
  height: 33%;
  width: 100%;
  border: 0;
  cursor: pointer;
  background-color: inherit;
  box-shadow: none;
  border-radius: 0px;
  font-family: "Barlow";
  font-size: 5vmin;
  font-weight: 900;
  transition: font-size 100ms 30ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.temp-overlay button:hover {
  font-size: 10vmin;
}

.temp-overlay button.hotter {
  color: #bf033b;
}

.hotter-fade-out {
  animation: slideOutUp 0.5s 0.2s cubic-bezier(0.6, -0.18, 0.735, 0.045)
    forwards;
}

.colder-fade-out {
  animation: slideOutDown 0.5s 0.2s cubic-bezier(0.6, -0.18, 0.735, 0.045)
    forwards;
}

.temp-overlay button.colder {
  color: #2064d3;
}

/**/

@keyframes exitLeft {
  0% {
    left: 0;
  }
  100% {
    left: -50vw;
  }
}

@keyframes moveLeft {
  0% {
    left: 50vw;
  }
  100% {
    left: 0;
  }
}

@keyframes enterLeft {
  0% {
    left: 100vw;
  }
  100% {
    left: 50vw;
  }
}

@keyframes enterTop {
  0% {
    top: 100vhf;
  }
  100% {
    top: 50vhf;
  }
}

/**/

@keyframes exitUp {
  0% {
    top: 0;
  }
  100% {
    top: -50vh;
  }
}

@keyframes moveUp {
  0% {
    top: 50vh;
  }
  100% {
    top: 0;
  }
}

@keyframes enterUp {
  0% {
    top: 100vh;
  }
  100% {
    top: 50vh;
  }
}

/**/

@keyframes slideOutUp {
  0% {
    transform: translate3d(0, 0, 0);
  }

  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0%, -100%, 0);
  }
}

@keyframes slideOutDown {
  0% {
    transform: translate3d(0, 0, 0);
  }

  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0%, 100%, 0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@media (max-aspect-ratio: 5/3) {
  .pane {
    height: 50vh;
    width: 100vw;
  }

  .left {
    top: 0;
    left: 0;
  }

  .left-out {
    animation: exitUp 0.5s 0.2s cubic-bezier(0.6, -0.18, 0.735, 0.045) forwards;
  }

  .right {
    top: 50vh;
    left: 0;
  }

  .right-move {
    animation: moveUp 0.5s 0.2s cubic-bezier(0.6, -0.18, 0.735, 0.045) forwards;
  }

  .outside {
    top: 100vh;
    left: 0;
  }

  .outside-enter {
    animation: enterUp 0.5s 0.2s cubic-bezier(0.6, -0.18, 0.735, 0.045) forwards;
  }

  .temp-overlay {
    flex-direction: row-reverse;
  }

  .temp-overlay button {
    height: 100%;
    width: 33%;
  }

  @keyframes peekOut {
    100% {
      right: -50vw;
    }
  }
}

/**/

.card-container {
  width: 80%;
  height: 80%;
  perspective: 1000px;
}

.card-container-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s 0s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform-style: preserve-3d;
}

.card-container .card-container-inner-animate {
  transform: rotateY(180deg);
}

.card-container-front,
.card-container-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* .card-container-front {
  /* background-color: #bbb;
  color: black; */

.card-container-back {
  transform: rotateY(180deg);
}

.next-button {
  position: absolute;
  bottom: -5vmin;
  right: -5vmin;
  background-color: #66ff77;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='100%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2366ff77'/%3E%3Cstop offset='1' stop-color='%23240'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='975' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23EF5' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%23EF5' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%23081' stroke-width='10' stroke-miterlimit='10' stroke-opacity='0.12'%3E%3Cpolygon points='-500%2C500 500%2C-500 1500%2C500 500%2C1500'/%3E%3Cpolygon points='-475%2C500 500%2C-475 1475%2C500 500%2C1475'/%3E%3Cpolygon points='-450%2C500 500%2C-450 1450%2C500 500%2C1450'/%3E%3Cpolygon points='-425%2C500 500%2C-425 1425%2C500 500%2C1425'/%3E%3Cpolygon points='-400%2C500 500%2C-400 1400%2C500 500%2C1400'/%3E%3Cpolygon points='-375%2C500 500%2C-375 1375%2C500 500%2C1375'/%3E%3Cpolygon points='-350%2C500 500%2C-350 1350%2C500 500%2C1350'/%3E%3Cpolygon points='-325%2C500 500%2C-325 1325%2C500 500%2C1325'/%3E%3Cpolygon points='-300%2C500 500%2C-300 1300%2C500 500%2C1300'/%3E%3Cpolygon points='-275%2C500 500%2C-275 1275%2C500 500%2C1275'/%3E%3Cpolygon points='-250%2C500 500%2C-250 1250%2C500 500%2C1250'/%3E%3Cpolygon points='-225%2C500 500%2C-225 1225%2C500 500%2C1225'/%3E%3Cpolygon points='-200%2C500 500%2C-200 1200%2C500 500%2C1200'/%3E%3Cpolygon points='-175%2C500 500%2C-175 1175%2C500 500%2C1175'/%3E%3Cpolygon points='-150%2C500 500%2C-150 1150%2C500 500%2C1150'/%3E%3Cpolygon points='-125%2C500 500%2C-125 1125%2C500 500%2C1125'/%3E%3Cpolygon points='-100%2C500 500%2C-100 1100%2C500 500%2C1100'/%3E%3Cpolygon points='-75%2C500 500%2C-75 1075%2C500 500%2C1075'/%3E%3Cpolygon points='-50%2C500 500%2C-50 1050%2C500 500%2C1050'/%3E%3Cpolygon points='-25%2C500 500%2C-25 1025%2C500 500%2C1025'/%3E%3Cpolygon points='0%2C500 500%2C0 1000%2C500 500%2C1000'/%3E%3Cpolygon points='25%2C500 500%2C25 975%2C500 500%2C975'/%3E%3Cpolygon points='50%2C500 500%2C50 950%2C500 500%2C950'/%3E%3Cpolygon points='75%2C500 500%2C75 925%2C500 500%2C925'/%3E%3Cpolygon points='100%2C500 500%2C100 900%2C500 500%2C900'/%3E%3Cpolygon points='125%2C500 500%2C125 875%2C500 500%2C875'/%3E%3Cpolygon points='150%2C500 500%2C150 850%2C500 500%2C850'/%3E%3Cpolygon points='175%2C500 500%2C175 825%2C500 500%2C825'/%3E%3Cpolygon points='200%2C500 500%2C200 800%2C500 500%2C800'/%3E%3Cpolygon points='225%2C500 500%2C225 775%2C500 500%2C775'/%3E%3Cpolygon points='250%2C500 500%2C250 750%2C500 500%2C750'/%3E%3Cpolygon points='275%2C500 500%2C275 725%2C500 500%2C725'/%3E%3Cpolygon points='300%2C500 500%2C300 700%2C500 500%2C700'/%3E%3Cpolygon points='325%2C500 500%2C325 675%2C500 500%2C675'/%3E%3Cpolygon points='350%2C500 500%2C350 650%2C500 500%2C650'/%3E%3Cpolygon points='375%2C500 500%2C375 625%2C500 500%2C625'/%3E%3Cpolygon points='400%2C500 500%2C400 600%2C500 500%2C600'/%3E%3Cpolygon points='425%2C500 500%2C425 575%2C500 500%2C575'/%3E%3Cpolygon points='450%2C500 500%2C450 550%2C500 500%2C550'/%3E%3Cpolygon points='475%2C500 500%2C475 525%2C500 500%2C525'/%3E%3C/g%3E%3Crect fill-opacity='0.12' fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  border: 5px white solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vmin;
  height: 20vmin;
  font-size: 10vmin;
  box-sizing: border-box;
  transform: rotate(-5deg);
  transition: color 0.2s 10ms ease-in-out, border-color 0.2s 10ms ease-in-out;
  filter: drop-shadow(2px 2px 5px #000000ee);
  cursor: pointer;
  color: green;
}

.next-button:hover {
  color: white;
  border-color: lightgreen;
}

/**/

#modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  width: 100%;
  height: 100%;
  padding: 15px;
  text-align: center;
  border-radius: 30px;
  color: black;
}

.game-over {
  height: 50ex;
  max-height: 90%;
  max-width: 90%;
  width: 50rem;
  min-width: 200px;
}

.game-over-card {
  display: grid;
  grid-template-areas:
    "title title"
    "info score"
    "buttons buttons";
  gap: 0rem 0rem;
  background-color: orangered;
  grid-template-rows: 1fr 3fr 1.5fr;
  grid-template-columns: 7fr 4fr;
  padding: 0;
  border: 10px orangered solid;
  border-top: 0;
  color: white;
}

.game-over-title {
  grid-area: title;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: min(5vmax, 5em);
  font-weight: 900;
}

.game-over-info {
  grid-area: info;
  background-color: lightgray;
  color: #444;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: min(3vmax, 3rem);
}

.game-over-score-label {
  color: #777;
  display: flex;
  padding: 0;
  margin: 0;
  font-size: min(3vmax, 2rem);
  font-weight: 700;
}

.game-over-score p:not(.game-over-score-label) {
  padding: 0;
  margin: 0;
  font-size: min(8vmax, 5rem);
  color: #555;
}

.game-over-score {
  grid-area: score;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 900;
}

.game-over-buttons {
  grid-area: buttons;
  background-color: inherit;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  align-items: center;
  justify-content: center;
}

.game-over-buttons button {
  border: 0;
  color: white;
  text-transform: uppercase;
  font-family: "Barlow";
  width: 50%;
  font-size: min(4vmax, 3em);
  font-weight: 700;
  height: 100%;
  transition: font-size 100ms 30ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  cursor: pointer;
}

.game-over-buttons button:hover {
  font-size: 4em;
}

button.restart {
  background-color: #66ff77;
  color: green;
  background-attachment: fixed;
  background-size: cover;
}

button.share {
  background-color: paleturquoise;
  color: darkblue;
}

.full-pane {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.fake {
  opacity: 0.5;
  animation: opacityThrob 0.2s 0s ease alternate;
  animation-iteration-count: infinite;
}

@keyframes opacityThrob {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.4;
    width: 81%;
    height: 81%;
  }
}

.react-loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 10vmin;
  font-weight: 900;
  padding: 1vmin;
  text-align: center;
  color: greenyellow;
  filter: drop-shadow(2px 2px 2px #000000ee);
  animation: loadingThrob 1s 0s linear alternate infinite;
}

@keyframes loadingThrob {
  0%,
  60% {
    color: greenyellow;
  }
  40%,
  100% {
    color: yellowgreen;
  }
}

.fake-card-container {
  color: black !important;
  width: 100%;
  height: 20vmin;
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.fake-card-container .card-container {
  width: 40%;
}

.fake-card-container .card-container:nth-of-type(1) {
  transform: rotate(-3deg);
}

.fake-card-container .card-container:nth-of-type(2) {
  transform: rotate(2deg);
}

.fake-card-container p.info-name {
  font-size: 2vmin;
}

.fake-card-container p.info-country {
  font-size: 0.5vmin;
}

.fake-card-container .temp p {
  font-size: 3vmin;
}

.fake-card-container .temp-overlay {
  flex-direction: row-reverse;
}

.fake-card-container .hotter,
.fake-card-container .colder {
  font-size: 3vmin;
  pointer-events: none;
  height: 100%;
}

/**/

.logo {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  font-size: 12vmin;
  line-height: 0.9;
  align-items: center;
  justify-content: center;
  filter: unset;
  /* filter: drop-shadow(rgba(255, 255, 255, 0.933) -2px -2px -2px); */
}

.hot {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background: linear-gradient(180deg, #ffc719, 60%, #bf033b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hot i {
  position: relative;
  top: -0.05ex;
  left: 0.015em;
}

.or {
  font-size: 7vmin;
  display: block;
  background-color: #ffffff00;
  color: #eee;
  padding: 0.2ex 0.5em 0.35ex 0.5em;
  margin: 0.1ex 0em 0.1ex 0em;
}

.or i:nth-of-type(1) {
  color: #2064d3;
}

.or i:nth-of-type(2) {
  color: #bf033b;
}

.not {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  top: -0.15ex;
  background: linear-gradient(180deg, #2064d3, 80%, #4a5264);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.not i {
  position: relative;
  left: 0.015em;
}

.back-card {
  border: 5px white solid;
  background-color: #6cff9b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

.back-card-inner-div {
  color: white;
  background-color: rgba(72, 116, 54, 0.1);
  filter: drop-shadow(rgba(0, 0, 0, 0.933) 0.1em 0.1em 0.1em);
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
